body {
    padding-top: 50px;
}

h1{
    text-align: center;
}
img{
    margin: 0 auto;
}

.center-block{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
span{
    font-weight: 600;
}



@media screen and (max-width: 991px) {
    .block-adress p {
        text-align: center;
    }
}


.form-group{
    margin: 10px;
}

.btn-success{
    margin-bottom: 10px;
}

.adress{
    background-color: ghostwhite;
    padding-top: 10px;
}